.hero-section{

    background-image: url(/assets/images/2563.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 15%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}