<form>
  <!-- <button class="btn btn-danger" (click)="Delete()">Suppress</button>
 <div *ngIf="delClick==true"> --> 
   <input #Delete type="text" placeholder="Entrez l'Id de bar">
   <button class="btn btn-danger" (click)="DeleteBar(Delete.value)">Suppress</button>
<!-- </div> --> 
 </form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">idBar</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Début du HH</th>
      <th scope="col">Fin du HH</th>
      <th scope="col">Site web du bar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let uL of barList">
      <th scope="row">{{uL.idBar}}</th>
      <td>{{uL.nom}}</td>
      <td>{{uL.adresse}}</td>
      <td>{{uL.debHapp}}</td>
      <td>{{uL.finHapp}}</td>
      <td>{{uL.siteWeb}}</td>
    </tr>



  </tbody>
</table>